.sociales {
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.sociales a {
  color: #333;
  text-decoration: none;
}

@media (min-width: 768px) {
  .sociales {
    width: auto;
  }

  footer .contenedor {
    justify-content: space-between;
  }
}